{% extends "landingpage.html " %}
{% block title %}
Add New Todo
{% endblock %}
{% block content %}
    <form action="{{ url_for('create_task') }}" method="POST">
        <h3>Please Add the New Todo Information:</h3>
        Task Name<br>
        
	<input type="text" name="task_name" /><br>

        Description<br>
        
	<textarea name="description"></textarea><br>

        <label for="due_date">Due Date:</label>
	
	<input type="date" id="due_date" name="due_date"><br>

	<label for="priority">Priority:</label>
	<select name="priority" id="priority">
		<option value=""></option>
    		<option value="low">Low</option>
    		<option value="medium">Medium</option>
    		<option value="high">High</option>
		<option value="urgent">Urgent</option>
                <option value="critical">Critical</option>
                <option value="on_hold">On_old</option>
		<option value="normal">Normal</option>
                <option value="none">None</option>
        </select><br>
	
	<label for="status">Status:</label>
        <select name="status" id="status">
		<option value=""></option>
                <option value="suspended">Suspended</option>
                <option value="in_progess">In_progress</option>
                <option value="deferred">Deferred</option>
                <option value="ongoing">Ongoing</option>
		        <option value="canceled">Canceled</option>
                <option value="completed">Completed</option>
                <option value="abandoned">Abandoned</option>

                <option value="review">Review</option>
	</select><br>

        <label for="category">Category:</label>
        <select name="category" id="Category">
		<option value=""></option>
                <option value="work">Work</option>
                <option value="personal">Personal</option>
                <option value="school">School</option>
                <option value="meetings">Meetings</option>
                <option value="health">Health</option>
                <option value="errands">Errands</option>
                <option value="home">Home</option>
                <option value="finance">Finance</option>
                <option value="social">Social</option>
                <option value="none">None</option>
        </select><br>

	<label for="creation_date">Creation Date:</label>
	
	<input type="date" id="creation_date" name="creation_date"><br>
	
	<label for="completion_date">Completion Date:</label>
	
	<input type="date" id="completion_date" name="completion_date"><br>
        
	Assigned To<br>
        
	<input type="text" name="assigned_to" /><br>

    Unassigned To<br>
        
	<input type="text" name="unassigned_to" /><br>

        
	<input type="submit" value="Submit" /><br>
    </form>
{% endblock %}